<table class="table-bordered">
	<thead>
		<tr>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let player of players; index as i;">
			<th scope="row">
				<div class="mx-3">
					Jugador {{i+1}}
				</div>
			</th>
			<td>
				<div class="mx-3">
					{{player.points}} pts.
				</div>
			</td>
			<td class="field">
				<div class="d-flex justify-content-center" *ngIf="player.points==0">
					<img src="../../assets/avatar.png" alt="" width="80">
				</div>
			</td>
			<td class="field">
				<div class="d-flex justify-content-center" *ngIf="player.points==1">
					<img src="../../assets/avatar.png" alt="" width="80">
				</div>
			</td>
			<td class="field">
				<div class="d-flex justify-content-center" *ngIf="player.points==2">
					<img src="../../assets/avatar.png" alt="" width="80">
				</div>
			</td>
			<td class="field">
				<div class="d-flex justify-content-center" *ngIf="player.points==3">
					<img src="../../assets/avatar.png" alt="" width="80">
				</div>
			</td>
			<td class="field">
				<div class="d-flex justify-content-center" *ngIf="player.points==4">
					<img src="../../assets/avatar.png" alt="" width="80">
				</div>
			</td>
			<td class="goal">
				<div class="d-flex justify-content-center">
					<b *ngIf="player.points!=5">META</b>
					<img src="../../assets/avatar.png" alt="" width="80" *ngIf="player.points==5">
				</div>
			</td>
		</tr>
	</tbody>
</table>